.container {
    position: relative;
    text-align: center;
    color: hsl(0, 1%, 17%);
  }

  /* Top left text 
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
*/
  .maintitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

  }

  .backcolor{
    background-color: rgb(235, 224, 217);
  }
  